.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}

.user-pass-imput {
    margin: 3px;
}

.login-create-btn{
    margin: 3px;
}